/* Grow */
.container {
  border: 2px solid red;
  width: 400px;
  display: flex;
  padding: 0px;
}

/* .box {
  border: 2px solid black;
  padding: 30px;
  margin: 1px;
  flex-grow: 1;
}

.box:nth-child(3) {
  flex-grow: 2;
} */

/* Shrink */
.box {
  margin: 1px;
  padding: 1px;
  width: 200px;
  text-align: center;
  flex-shrink: 1;
}

.box:nth-child(2) {
  flex-shrink: 2;
}