.gradient {
    width: 100%;
    min-height: 500px;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 500px;
    background-repeat: no-repeat;
    position: relative;
}
.card{
    position:absolute;
    z-index: 1;
    background-color:white;
    border-radius: 25px;
    padding:16px;
    top:50px;
    left:100px;
    right:100px;
    bottom:50px;
    display: grid;
    grid-template-rows: auto 10% 15% auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.title{
    font-size: 18px;
}
.subheading {
    font-size: 32px;
    font-weight: bold;
    margin: 18px 0;
}
.description {
    font-style: italic;
    color: #8b8989;
    margin: 18px 0;
}
.btn {
    border: 1px solid #ccc;
    padding: 8px 0;
    background-color: black;
    color: white;
}